#contact {
  text-align: center;
  margin: 5% 0 0;
  h3 {
    font-size: 4rem;
    @media (max-width: 767px) {
      font-size: 3rem;
    }
  }
  p {
    font-size: 1.5rem;
    color: #dcdcdc;
  }
  .footer-icons {
    margin: 1% 0;
    img {
      max-width: 7%;
      margin: 0 0.5%;
      @media (max-width: 767px) {
        max-width: 9%;
      }
    }
  }
}
