header {
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    font-size: 10rem;
    @media (max-width: 767px) {
      font-size: 6.5rem;
    }
  }
  h2 {
    font-size: 6rem;
    color: #dcdcdc;
    @media (max-width: 767px) {
      font-size: 3rem;
    }
  }
}
