* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  background: #092e47;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: 'Segoe UI';
}

a {
  text-decoration: none;
}

@import 'header';
@import 'about';
@import 'projects';
@import 'skills';
@import 'footer';
