#skills {
  margin: 5% 0;
  h2 {
    font-size: 6rem;
    text-align: center;
    margin: 3% 0;
    @media (max-width: 450px) {
      font-size: 3rem;
    }
  }
  .skills-icon-container {
    text-align: center;
    img {
      width: 6%;
      margin: 0 0.5%;
      @media (max-width: 450px) {
        width: 20%;
      }
    }
  }
}
